-provide(:title, @user.email)

.row
	%aside.span8.offset2
		%section
			= render 'shared/transaction_form'
		-# %hr
		%section
			- unless @transactions.empty?
				%h1.transactions-header Recent transactions
				%ul.transactions
					- previous_date = nil
					- @transactions.each do |transaction|
						- if transaction.date != previous_date
							- sum = @transactions.select{ |t| t.date == transaction.date }.inject(0) { |n, t| n + t.value }
							%li.date-separator
								.sum{style: "color: #{sum < 0 ? "#caa;" : "#aca"}"}= sum 
								.date= transaction.date.strftime("%a, %e %b %Y")
						%li.transaction
							.tran-value= transaction.value
							.tran-desc{rel: "popover", :"data-content" => transaction.description}= truncate(transaction.description, length: 18)
							.tran-delete
								= link_to transaction, method: :delete, class: "delete-button" do
									%i.icon-remove
						- previous_date = transaction.date
				= will_paginate @transactions
			- else
				%h1.transactions-header You don't have any transactions! Add some using the simple form above.