= form_for(@transaction) do |f|
	= render 'shared/error_messages', object: f.object
	.transaction-form
		.field-value
			= f.text_field :value, placeholder: "value, e.g. 133.7", id: "value-field"
		.field-description
			= f.text_field :description, placeholder: "description, e.g. doughnuts"
		.field-date
			= f.date_select :date, order: [:day, :month, :year]
	.center
		= f.submit "Add transaction", class: "btn btn-large btn-green"
	