= form_for(@transaction) do |f|
	= render 'shared/error_messages', object: f.object
	.field-value
		= f.text_field :value, placeholder: "e.g. 133.7"
	.field-description
		= f.text_field :description, placeholder: "e.g. chocolate doughnuts"
	.field-date
		= f.date_select :date
	= f.submit "Add", class: "btn btn-large btn-green"
	