#landing
	.row#herow
		.span12
			.center.hero-unit
				%h1
					D
					= image_tag("doughnut.svg")
					UGHNUT
				%p Expense tracking that doesn't hurt.
				= link_to "Sign up now", signup_path, class: "btn btn-large btn-green"
	
	%hr
	.row.marketing
		.span6
			%h1 Drop dead simple.
			%p
				DOUGHNUT is designed from the ground-up to 
				%a{href: "http://en.wikipedia.org/wiki/Unix_philosophy", target: "_blank"} do one thing and do it well:
				keep track of your day-to-day expenses. Forget about wizard assistants and needlessly long forms. Speed through your transactions by using a clean, lean user interface.
		.span6
			= image_tag("570x500.gif")
	
	%hr
	.row.marketing
		.span12
			#movie
			:javascript
				bonsai.run(document.getElementById('movie'), {
					url: 'http://tvararu.ro/doughnut/movie.js',
					width: 1170,
					height: 500
				});
	
	%hr
	.row.marketing
		.span6
			%h1 Security and privacy.
			%p 
				Your transactions are kept in an encrypted database. We don't sell your information to advertisers. Lorem ipsum.
		.span6
			= image_tag("570x500.gif")
	
	%hr
	.row.marketing
		.span6
			= image_tag("570x500.gif")
		.span6
			%h1 Up and running in under a minute.
			%p
				Built for speed,
				= link_to "signing up", signup_path
				for DOUGHNUT requires nothing more than a valid email and password.
				%b Coming soon:
				sign in with your existing Google, Facebook or Twitter account.
				
	%hr
	.row#logorow
		.span12
			.center
				%p 
					Keeping track of your
					d
					= image_tag("doughnut.svg")
					ugh
					%br
					has never been this easy.
				= link_to "Sign up for free", signup_path, class: "btn btn-large btn-green"